* {
    padding:0;
    margin: 0;
}

html {
  height: 100%;
}

@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&family=EB+Garamond:wght@300,400,700&display=swap");


/* fond du site */
body {
    background: url('../image/fond-hexagonal.webp');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  
  }
  
/* type de texte */
.serial_pro{   
    font-family: 'Source+Serif+Pro',serif;
}
.eb_gramond{
    font-family: 'EB+Garamond', serif;
}

/* fonction de navbar */
.navbar-expand-lg {
  height: 100px;
  font-family: 'Source+Serif+Pro',serif ;
  font-size: 20px;
  
}
.navbar-expand-lg .navbar-nav .nav-link {
    border-bottom: 1px solid transparent!important;
    transition: padding bottom .5s ease-in-out, border-color .3s ease !important;
}

.navbar-expand-lg .navbar-nav .nav-link:hover{
    padding-bottom: 0.30px!important;
    border-bottom-color: rgba(255, 255, 255)!important;   
}
.bg-img {
    background-color: black;
    background-size: cover;
    background-position: center;
}
.nav-link {
  border: none;
  background: none;
}
.nav-item {
  backdrop-filter: blur(7px);
}

/* fonction du bouton */
.btn-order {
    color: rgb(255, 255, 255);
    border-color: rgb(218, 165, 32);
    transition: 0.5;
    }
    
    .btn-order:hover,
    .btn-order:active{
        color: rgb(218, 165, 32);
        background-color: (255,255,255);
    }

    


/* gerer le paragraphge de présentation */
    
    .presentation .col-md-6 {
        color: white;
       
    }

    /* gerer la classe projet (paragraphe et titre) */

    .projet {
        color: rgb(255, 255, 255);
       
    }
    /* style du titre projet */
    .style{
        color: white;
        padding-bottom: 25px;
        text-decoration: underline;


    }

         
   /* Formulaire */
  #modal-btn{
    background: transparent;
    border: none;
  }
 /* création du flou derrière le fomulaire */
  .modal {
    backdrop-filter: blur(7px);
  }

  .modal-body {
    padding-bottom: 5rem;
  }
 /* gerer l'image de fond du formulaire */
  .modal-content {
    background-image: url("/assets/image/fond-hexagonal.webp");
    background-size: cover;
    background-position: center;
  }

  .modal-header {
    border: none;

  }

  .form-control {
    background: none;
    border: none;
    color: white;
    padding: 10px;
    font-size: 20px;
    margin-left: 100px;
  }

  .form input {
    margin-left: 10px;

  }

  .form label {
    font-family: 'Source+Serif+Pro',serif ;
    font-size: 25px;
    text-decoration: underline;
  }



  .modal .close {
    color: white;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 15px;
    border: dashed rgb(218, 165, 32);;


  }
  .modal .cont {
    font-family: 'Source+Serif+Pro',serif ;
    color: white;
    margin-right: auto;
    margin-left: auto;
    text-decoration: underline;
  }

  .form button {
    margin-left: 100px;
    padding: 10px;
    background: none;
    margin-top: 50px;
    color: rgb(255, 255, 255);
    border-color: rgb(218, 165, 32);
    transition: 0.5;
  }

  .form button:hover {
    color: rgb(202, 11, 186);
    background-color: (255,255,255);
  }